body {
  background: rgb(3, 9, 27);
}
.chatMessenger {
    position: absolute;
    bottom: 25px;
    right: 25px;
 }
.chatMessenger button{
 background-color: rgba(18, 22, 131, 0.61);
 border-radius: 50%;
 margin: 0px;
 border: 1px solid rgba(192, 193, 214, 0.77);
 -webkit-box-shadow: 3px 9px 15px -7px rgba(0,0,0,0.75);
 -moz-box-shadow: 3px 9px 15px -7px rgba(0,0,0,0.75);
 box-shadow: 3px 9px 15px -7px rgba(0,0,0,0.75);
}
.chatMessenger button span{
  margin-top: 5px;
 }
.transparent{
  background: rgba(255, 255, 255, 0);
  text-align: center;
  border: none;
}
.navigate a{
  font-size: 15px;
  /*color: rgba(255, 255, 255, 0.72);*/
  color: black;
}
.navigate li:hover{
  background-color: black;
}
.detailContainer{
  padding: 25px;
  background: white;
  -webkit-box-shadow: 7px 9px 28px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 9px 28px -7px rgba(0,0,0,0.75);
  box-shadow: 7px 9px 28px -7px rgba(0,0,0,0.75);
  border-radius: 1px;
}
.alignBtn{
  display: inline-block;
}
.detailHeader{
  float: left;
}
.linkedInBtn{
  margin-left: 10px;
  margin-bottom: 10px;
}
.githubBtn{
  margin-right: 25px;
}
.borderless td, .borderless th {
    border: none !important;
    text-align: center;
}
.centerText{
  text-align: center;
}
.imgMed{
  padding-left: 0px;
  padding-right: 0px;
}
.thumbImg{
  width: 150px;
  height: 150px;
}
.backgroundLucas{
  position: absolute;
  top: 0px;
  left: 0px;
  background: url('./images/backgroundLucas.jpeg');
  width: 100%;
  height: 100%;
}
.chatContainer{
  height: 400px;
  width: 300px;
  position: absolute;
  bottom: 25px;
  right: 250px;
  background-color: red;
}
.messages{
  width: 100%;
  height: 250px;
}
.test{
  position: absolute;
  top: 25px;
  left: 25px;
  width: 50px;
  height: 50px;
  background-color: black;
}
.tableImg{
  width: 50px;
  height: 50px;
}
.alignBtn{
  align: center;
}
